<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body>
        <div class="main-content">
        {{>header}}
        {{!-- <p>This is hannah, sapoton nga bata</p> --}}
        <p>This site was created by Yayang</p>
        <img class ="portrait" src="img/messi.jpeg">
        </div>

        {{>footer}}
    </body>
</html>